# Config
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# DB
.DS_Store

# Dependencies
node_modules
/package

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
.qoder

# Output
/.svelte-kit
src-tauri/target-platform-validation
export
/build

# JVM
hs_err_pid*

